@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Kol Novel</h3>
    <form asp-controller="Home" asp-action="GetKolNovel">
        <input type="text" placeholder="url" name="url" value="@ViewBag.url">
        <input type="text" placeholder="dir" name="dir" value="@ViewBag.dir">
        <input type="text" placeholder="fontSize" name="fontSize" value="@ViewBag.fontSize">
        <input type="text" placeholder="whiteLinesBetweenLines" name="whiteLinesBetweenLines" value="@ViewBag.whiteLinesBetweenLines">
        <input type="text" placeholder="numberOfChaptersPerFile" name="numberOfChaptersPerFile" value="@ViewBag.numberOfChaptersPerFile">
        <button>click</button>
    </form>
    <hr>
    <h3>Riwyat</h3>
    <form asp-controller="Home" asp-action="GetRiwyat">
        <input type="text" placeholder="url" name="url" value="@ViewBag.url">
        <input type="text" placeholder="dir" name="dir" value="@ViewBag.dir">
        <input type="text" placeholder="fontSize" name="fontSize" value="@ViewBag.fontSize">
        <input type="text" placeholder="whiteLinesBetweenLines" name="whiteLinesBetweenLines" value="@ViewBag.whiteLinesBetweenLines">
        <input type="text" placeholder="numberOfChaptersPerFile" name="numberOfChaptersPerFile" value="@ViewBag.numberOfChaptersPerFile">
        <button>click</button>
    </form>
</div>